# Python bindings

bindings/python/.vscode
bindings/python/build
bindings/python/dist/
bindings/python/sdist/
bindings/python/wheels/
**/.venv
**/.pytest_cache
**/.ruff_cache
**/__pycache__/
**/.ipynb_checkpoints
.coverage
